[user]
  name = <username>
  email = <email>

[alias]
  tree = log --graph --all --decorate --oneline
  g = log —-graph —-decorate —-oneline
  c = commit
  ck = checkout
  cln = remote prune
  bd = branch -d
  bD = branch -D
  rbd = push —-delete
