[user]
  name = <username>
  email = <email>
[alias]
  tree = log --graph --all --decorate --oneline
  g = log --graph --decorate --oneline
  c = commit
  ps = push
  b = branch
  ck = checkout
  r = rebase
  cln = remote prune
  bd = branch -d
  bD = branch -D
  rbd = push --delete
[core]
  editor = vim
